In [1]:
# Import libraries
import numpy as np
import pandas as pd
from obspy import read
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import os

In [2]:
catalog_lunar_dir = "../data/lunar/training/catalogs/apollo12_catalog_GradeA_final.csv"

catalog_lunar = pd.read_csv(catalog_lunar_dir)

catalog_lunar

FileNotFoundError: [Errno 2] No such file or directory: '../data/lunar/training/catalogs/apollo12_catalog_GradeA_final.csv'

In [34]:
catalog_lunar.columns
row = catalog_lunar.iloc[6]
arrival_time = datetime.strptime(row["time_abs(%Y-%m-%dT%H:%M:%S.%f)"], '%Y-%m-%dT%H:%M:%S.%f')
arrival_time_relative = row["time_rel(sec)"]
test_filename = row.filename
data_dir = "../data/lunar/training/data/S12_GradeA/"
csv_file = f'{data_dir}{test_filename}.csv'
raw_data = pd.read_csv(csv_file)
raw_data

       time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(sec)  velocity(m/s)
0          1970-06-26T00:00:00.116000       0.000000  -6.727977e-16
1          1970-06-26T00:00:00.266943       0.150943  -8.646711e-16
2          1970-06-26T00:00:00.417887       0.301887  -9.298738e-16
3          1970-06-26T00:00:00.568830       0.452830  -8.589095e-16
4          1970-06-26T00:00:00.719774       0.603774  -7.139047e-16
...                               ...            ...            ...
572418     1970-06-27T00:00:02.832981   86402.716981   5.039820e-17
572419     1970-06-27T00:00:02.983925   86402.867925  -9.191068e-18
572420     1970-06-27T00:00:03.134868   86403.018868  -2.796955e-17
572421     1970-06-27T00:00:03.285811   86403.169811  -9.037156e-17
572422     1970-06-27T00:00:03.436755   86403.320755  -2.439395e-16

[572423 rows x 3 columns]

In [88]:
chunk_size = 10000
total_rows = raw_data.shape[0]
total_rows

results_df = pd.DataFrame(columns=["chunk", "label"])
results_df

Empty DataFrame
Columns: [chunk, label]
Index: []

In [89]:
for start in range(0, total_rows, chunk_size):
    end = start + chunk_size

    chunk = raw_data.iloc[start:end]
    # print(chunk)

    data_df = pd.DataFrame(chunk["time_rel(sec)"])
   
    if arrival_time_relative < data_df["time_rel(sec)"].values.max() and arrival_time_relative > data_df["time_rel(sec)"].values.min():
        new_row = pd.DataFrame({"chunk": [chunk], "label": [1]})
        # print(new_row)
        results_df = pd.concat([results_df, new_row], ignore_index=True)
    else:
        new_row = pd.DataFrame({"chunk": [chunk], "label": [0]})
        results_df = pd.concat([results_df, new_row], ignore_index=True)




results_df

                                                chunk label
0        time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel(...     0
1         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
2         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
3         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
4         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
5         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
6         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
7         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
8         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
9         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_rel...     0
10         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
11         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
12         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
13         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
14         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
15         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
16         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
17         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
18         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
19         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
20         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
21         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
22         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
23         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
24         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
25         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
26         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
27         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
28         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
29         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
30         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
31         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
32         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
33         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
34         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
35         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
36         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
37         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
38         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
39         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
40         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
41         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
42         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
43         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
44         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
45         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
46         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
47         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     1
48         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
49         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
50         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
51         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
52         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
53         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
54         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
55         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
56         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0
57         time_abs(%Y-%m-%dT%H:%M:%S.%f)  time_re...     0

In [91]:
label_counts = results_df["label"].value_counts()

count_label_1 = label_counts.get(1, 0)

count_label_1

57